{% extends "base_template.html" %}
{% block content %}

<h1 style="color: black;">System Builder</h1>


<div class="container mt-4">
    <div class="row">
        <div class="px-0 py-3 col-12">
            <table class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Product</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Product Link</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Processor</strong></td>
                        <td><a class="btn btn-success" href="https://www.amazon.com/s?k=CPU&crid=39RNZ0ZIX6FT8&sprefix=cpu%2Caps%2C104&ref=nb_sb_noss_1">Add Component</a></td>
                    </tr>
                    <tr>
                        <td><strong>Motherboard</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>CPU Cooler</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Case</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Graphics Card</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>RAM</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Storage</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Case Cooler</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Power Supply</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                    <tr>
                        <td><strong>Monitor</strong></td>
                        <td><button class="btn btn-success">Add Component</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #320b0b; 
      overflow-x: hidden; /* Prevent horizontal scrolling */
      overflow-y: hidden; /* Prevent vertical scrolling */
    }

</style>

{% endblock %}