{% extends "base_template.html" %}
{% block content %}

<h1 style="color: black;">System Builder</h1>

<div class="container mt-4">
    <div class="row">
        <div class="px-0 py-3 col-12">
            <table class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Product</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Product Link</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Processor Section -->
                    <tr>
                        <td><strong>Processor</strong></td>
                        <td>
                            {% if cpu %}
                                {{ cpu.name }}
                            {% else %}
                                <a class="btn btn-success" href="{% url 'part_browser' %}?category=CPU">Add Component</a>
                            {% endif %}
                        </td>
                        <td colspan="3"></td>
                        <td>
                            {% if cpu %}
                                <a href="{% url 'remove_from_build' 'CPU' %}" class="btn btn-danger">Remove</a>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Motherboard Section -->
                    <tr>
                        <td><strong>Motherboard</strong></td>
                        <td>
                            {% if motherboard %}
                                {{ motherboard.name }}
                            {% else %}
                                <a class="btn btn-success" href="{% url 'part_browser' %}?category=Motherboard">Add Component</a>
                            {% endif %}
                        </td>
                        <td colspan="3"></td>
                        <td>
                            {% if motherboard %}
                                <a href="{% url 'remove_from_build' 'Motherboard' %}" class="btn btn-danger">Remove</a>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- RAM Section -->
                    <tr>
                        <td><strong>RAM</strong></td>
                        <td>
                            {% if ram_modules %}
                                {% for ram in ram_modules %}
                                    {{ ram.name }}<br>
                                {% endfor %}
                            {% else %}
                                <a class="btn btn-success" href="{% url 'part_browser' %}?category=RAM">Add Component</a>
                            {% endif %}
                        </td>
                        <td colspan="3"></td>
                        <td>
                            {% if ram_modules %}
                                <a href="{% url 'remove_from_build' 'RAM' %}" class="btn btn-danger">Remove</a>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Storage Section -->
                    <tr>
                        <td><strong>Storage</strong></td>
                        <td>
                            {% if storages %}
                                {% for storage in storages %}
                                    {{ storage.name }}<br>
                                {% endfor %}
                            {% else %}
                                <a class="btn btn-success" href="{% url 'part_browser' %}?category=Storage">Add Component</a>
                            {% endif %}
                        </td>
                        <td colspan="3"></td>
                        <td>
                            {% if storages %}
                                <a href="{% url 'remove_from_build' 'Storage' %}" class="btn btn-danger">Remove</a>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Additional Components: You can add similar sections here for GPU, Case, etc. -->
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
