{% extends "base_template.html" %}
{% block content %}

<h2>View Build</h2>

<div class="container mt-4">
    <div class="row">
        <div class="px-0 py-3 col-12">
            <table class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Product</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Processor Row -->
                    <tr>
                        <td><strong>Processor</strong></td>
                        <td>
                            {% if build.cpu %}
                                {{ build.cpu.name }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if build.cpu and build.cpu.image %}
                                <img src="{{ build.cpu.image.url }}" alt="{{ build.cpu.name }}" width="100">
                            {% endif %}
                        </td>
                        <td>
                            {% if build.cpu %}
                                ${{ build.cpu.price }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if build.cpu %}
                                {{ build.cpu.description }}
                            {% else %}
                                No description available.
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Motherboard Row -->
                    <tr>
                        <td><strong>Motherboard</strong></td>
                        <td>
                            {% if build.motherboard %}
                                {{ build.motherboard.name }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if build.motherboard and build.motherboard.image %}
                                <img src="{{ build.motherboard.image.url }}" alt="{{ build.motherboard.name }}" width="100">
                            {% endif %}
                        </td>
                        <td>
                            {% if build.motherboard %}
                                ${{ build.motherboard.price }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if build.motherboard %}
                                {{ build.motherboard.description }}
                            {% else %}
                                No description available.
                            {% endif %}
                        </td>
                    </tr>

                    <!-- RAM Row -->
                    <tr>
                        <td><strong>RAM</strong></td>
                        <td>
                            {% if build.ram.all %}
                                {% for ram in build.ram.all %}
                                    {{ ram.name }}<br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% for ram in build.ram.all %}
                                {% if ram.image %}
                                    <img src="{{ ram.image.url }}" alt="{{ ram.name }}" width="100"><br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for ram in build.ram.all %}
                                ${{ ram.price }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for ram in build.ram.all %}
                                {{ ram.description }}<br>
                            {% endfor %}
                        </td>
                    </tr>

                    <!-- Storage Row -->
                    <tr>
                        <td><strong>Storage</strong></td>
                        <td>
                            {% if build.storages.all %}
                                {% for storage in build.storages.all %}
                                    {{ storage.name }}<br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% for storage in build.storages.all %}
                                {% if storage.image %}
                                    <img src="{{ storage.image.url }}" alt="{{ storage.name }}" width="100"><br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for storage in build.storages.all %}
                                ${{ storage.price }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for storage in build.storages.all %}
                                {{ storage.description }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{% url 'account_page' %}" class="btn btn-secondary">Back to Saved Builds</a>

{% endblock %}
