# Database files
db.sqlite3
sample_data.json

# Ignore __pycache__ at all levels
**/__pycache__/

# Python specific files
*.log
*.pot
*.pyc
__pycache__/
/pycache/*
Optimal_Performance_Platform/__pycache__/*
Optimal_Performance_Platform/__pycache__/
**/*.pyc
**/*.py[cod]
**/*$py.class

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/
optimal/
myenv/
NeakosEnv/

# Static and media files
# Media files
/media
# Static files  
/staticfiles  
staticfiles/

# Environment variables
.env

# Backup files
*.bak

# IDE-specific files
.idea/**

# Python package files
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule.*

# SageMath
*.sage.py

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code
.vscode/
.history
