# Database
db.sqlite3
sample_data.json

# Ignore __pycache__ at all levels
**/__pycache__/

# Python specific
*.log  # Log files
*.pot  # Translation files
*.pyc  # Compiled Python files
**/*.pyc
**/*.py[cod]
**/*$py.class

# Virtual environments
venv/ 
ENV/
env.bak/
venv.bak/
optimal/
myenv/

# Static and media files
/media  # Media files
/staticfiles  # Static files

# Environment variables
.env  # Environment variable definitions

# Backup files
*.bak  # Backup files

# IDE-specific files
.idea/**  # JetBrains IDE project files

# Python package files
*.egg-info/  # Package metadata
.installed.cfg
pip-log.txt  # Installer logs
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule.*

# SageMath
*.sage.py

# Environments 
.env 
.venv
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
myenv/
optimal/

# mkdocs documentation 
/site 

# mypy
.mypy_cache/

# Sublime Text
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code
.vscode/
.history
